<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="./style.css"></style>
 
        
</head>
<body>

<%= render @tweets %>

        

<script type="text/javascript" src="./app.js"></script>
</body>
</html>
