.notification {
  .notice {
    background-color:  #38AEF0;
    color: #ffffff;
    text-align: center;
  }

  .alert {
    background-color:#F35500;
    color: #ffffff;
    text-align: center;
  }
}
