// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


// .row{
//   margin:auto;
//   width:500px;
//   .col{
//     margin:auto;
//     width:500px;
//   }
// };
.original-box{
  margin:0 auto ;
  margin-bottom:20px;
  width:780px;
  margin-top:10px;
}